<div ng-controller="FormCtrl as formCtrl">
    <form ng-submit="formCtrl.submit('data/redirect.json')">
        <div class="row">
            <div class="six columns">
                <label for="name">Nome</label>
                <input type="text" class="u-full-width" placeholder="Nome" id="name" ng-model="formCtrl.form.name"/>
            </div>
            <div class="six columns">
                <label for="name">E-mail</label>
                <input type="text" class="u-full-width" placeholder="E-mail" id="email"/>
            </div>
        </div>
        <input ng-show="!formCtrl.loading" class="button-primary" type="submit" value="Enviar" />
        <span ng-show="formCtrl.loading">Loading</span>
    </form>
</div>